:root {

}

html {
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}



.container {
	display: grid;
	grid-template-columns: 1fr 5fr;
	height: 100vh;
}

.sidebar {
	grid-column: 1;
	background-color: grey;
}

.viewer {
	grid-column: 2;
}