:root {

}

html {
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}



.container {
	display: grid;
	grid-template-columns: 1fr 5fr;
	height: 100vh;
}

.sidebar {
	grid-column: 1;
	background-color: grey;
}

.bookshelf {
	grid-column: 2;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	align-content: start;
	justify-items: center;
	gap: 20px;
	padding: 20px;
}

.book {
	outline: 1px solid black;
	border-radius: 1px;
	width: 150px;
	height: 200px;
	padding: 10px;
}

@media screen and (max-width:700px) {
	.container {
		grid-template-columns: auto;
	}
	.bookshelf {
		grid-column: 1;
	}
}